<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="/login.css">
    </head>
    <body>
        <div class="main-container">
            <div class="login">
                <form  method="post">
                    <h2>Login</h2>
                    <input type="text" name="name_lgn" placeholder="Username" required="required" />
                    <input type="password" name="password_lgn" placeholder="Password" required="required" />
                    <button type="submit">Login</button>
                </form>
            </div>
            <div class="separator"></div>
            <div class="register">
                <form action="/auth/register" method="POST">
                    <h2>Register</h2>
                    <input type="text" name="name_reg" placeholder="Name" required="required" />
                    <input type="text" name="email_reg" placeholder="Email" required="required" />
                    <input type="password" name="password_reg" placeholder="Password" required="required" />
                    <input type="password" name="password_confirm" placeholder="Password confirm" required="required" />
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
</html>